@model OnlineShoppingStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Online Shopping Store: Checkout";
}
<h2>Checkout Now</h2>

<p>Please enter your correct details and we will ship your selected goods right away!!</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship To</h3>
    <div class="form-group">
        <label>Name: </label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <h3>Address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift Wrap
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
}