@model OnlineShoppingStore.WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Store: Your Cart with Selected Items";
}

<h2>Your Cart</h2>
<table class="table">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("C")</td>
            <td class="text-right">@((line.Quantity*line.Product.Price).ToString("C"))</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">@Model.Cart.ComputerTotalValue().ToString("C")</td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary btn-lg" href="@Model.ReturnUrl">Continue Shopping</a>
</div>