@model OnlineShoppingStore.Domain.Entities.Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Name</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ProductId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @(property.PropertyName == "Description" ? Html.TextArea(property.PropertyName, null, new {@class = "form-control", rows = 5}) : Html.TextBox(property.PropertyName, null, new {@class = "form-control"}))
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and Return to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
